In [1]:
import pandas as pd
from urllib.parse import urlparse

Aim is to get the numbers for each and every step done at data analysis stage

In [2]:
df = pd.read_csv('/Users/gayathri/Library/CloudStorage/Box-Box/Local News Data/results/urls_658.csv')
df.head()

                 Name of outlet                      Outlet URL
0                          WPHT      http://1210wpht.radio.com/
1                       WCZT-FM         http://987thecoast.com/
2  Advertiser News - North, The  http://advertisernewsnorth.com
3  Advertiser News - South, The  http://advertisernewssouth.com
4        African Sun Times, The     http://africansuntimes.com/

In [3]:
df.columns = ["name", "url"]

In [4]:
df.head()

                           name                             url
0                          WPHT      http://1210wpht.radio.com/
1                       WCZT-FM         http://987thecoast.com/
2  Advertiser News - North, The  http://advertisernewsnorth.com
3  Advertiser News - South, The  http://advertisernewssouth.com
4        African Sun Times, The     http://africansuntimes.com/

In [13]:
df.shape

(656, 2)

In [14]:
urls_df_distinct = pd.read_excel('/Users/gayathri/Library/CloudStorage/Box-Box/Local News Data/results/urls.xlsx', sheet_name=0, index_col=None)

In [15]:
urls_df_distinct.shape

(332, 3)

In [16]:
urls_df_same = pd.read_excel('/Users/gayathri/Library/CloudStorage/Box-Box/Local News Data/results/urls.xlsx', sheet_name=1, index_col=None)

In [17]:
urls_df_same.shape

(317, 3)

In [18]:
df_1 = pd.read_csv('/Users/gayathri/Library/CloudStorage/Box-Box/Local News Data/URLs for IA.csv')
df_1.head()

,Name of outlet,Outlet URL
0,07030 Hoboken,https://hudsonreporter.com/category/issues/070...
1,201,http://www.201magazine.com/#201magazine
2,24 Horas (Portuguese),https://24horasnewspaper.com/
3,ABS-CBN News (The Filipino Channel),https://balitangamerica.tv/
4,AC Primetime,https://acprimetime.com/atlantic-city-primetim...

In [20]:
df_1.shape

(658, 2)